* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
@font-face {
  font-family: "Sofia Sans";
  font-display: swap;
  src: url("../fonts/SofiaSans.ttf");
  font-style: normal;
  font-weight: normal;
}
body {
  background: #f5f5f5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.header {
  background-image: url(../img/Rectangle\ 1.jpg);
  max-width: 1400px;
  width: 100%;
  height: 663px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 110px 0 110px;
  max-width: 1180px;
  height: 91px;
}
.header__logo {
  display: flex;
  flex-direction: row;
  width: 425.22px;
  height: 91px;
  padding-right: 78px;
}
.logo__text {
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 53px;
  color: #46b1de;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo__text span {
  font-size: 26.8525px;
}
.nav {
  width: 350px;
  height: 19px;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: #1b1d1f;
}
.nav a:hover {
  color: rgb(192, 15, 15);
}
.header__phone {
  display: flex;
  flex-direction: row;
  width: 174px;
  height: 24px;
  text-align: center;
  padding-left: 81px;
}
.header__phone a {
  display: flex;
  align-self: center;
  font-size: 16px;
  line-height: 19px;
  color: #1b1d1f;
  text-decoration: none;
}
.header__phone a:hover {
  color: rgb(192, 15, 15);
}
.language {
  display: flex;
  flex-direction: row;
  width: 77px;
  height: 23px;
  font-size: 20px;
  line-height: 23px;
  padding-left: 23px;
}
.language__ua {
  font-weight: bold;
}
.language a {
  color: #000000;
  text-decoration: none;
}
.language a:hover {
  color: rgb(192, 15, 15);
}
.language p {
  padding: 0 11px 0 11px;
}
.header__content {
  margin: 34px 0 48px 110px;
}
.header__text1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #1b1d1f;
  width: 530px;
  height: 158px;
  margin-bottom: 30px;
}
.header__text1 span {
  color: #46b1de;
}
.header__text2 {
  font-size: 16px;
  line-height: 140%;
  color: #1b1d1f;
  width: 464px;
  height: 66px;
}
.header__buttons {
  margin: 0 0 116px 110px;
  display: flex;
  flex-direction: row;
}
.call__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  background: linear-gradient(97.59deg, #46b1de 9.8%, #0591cc 95.1%);
  box-shadow: 0px 2px 10px #46b1de;
  border-radius: 8px;
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
  margin-right: 120px;
}
.services__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #dde0dc;
  box-shadow: 0px 2px 10px #dde0dc;
  border-radius: 8px;
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  color: #46b1de;
  text-decoration: none;
}
.call__btn:hover,
.services__btn:hover {
  color: rgb(192, 15, 15);
}
.girl__img {
}
.girl__img img {
  width: 572px;
  height: 530.77px;
  object-fit: cover;
  position: absolute;
  left: 718px;
  top: 172px;
}
.statistics {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -62px 0 0 210px;
}
.statistics p {
  /* width: 93px; */
  height: 120px;
  font-size: 65px;
  line-height: 76px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #46b1de;
  padding: 0 10px 0 10px;
}
.statistics span {
  text-align: start;
  vertical-align: middle;
  align-items: center;
  /* width: 146px; */
  height: 64px;
  font-size: 14px;
  line-height: 16px;
  color: #1b1d1f;
  padding-left: 20px;
}
.statistics1,
.statistics2,
.statistics3 {
  width: 280px;
  height: 120px;
  background: #ffffff;
  border: 1px solid #d8e1e1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-right: 70px;
}
